/* global styles */

.project-card {
    height: 180px;
    width: 180px;
    border-radius: 100%;
    margin:20px;
}
.project-card > span {
    position:relative;
    top: 70px;
    left:20px;
    font-weight:bold;
}
.project-card .name {
    color: white;
}

/* python-http */

.python-http {
    background-color: #3c67ad;
}
.python-http:hover {
    background-color: #3c5cad;
}
.v .name {
    color: #FFD53E;
}

/* python-keylogger */

.python-keylogger {
    background-color: #590b18;
}
.python-keylogger:hover {
    background-color: #560614;
}
.python-keylogger .name {
    color: #000;
}

/* python-xmlrpc */

.python-xmlrpc {
    background-color: #965028;
}
.python-xmlrpc:hover {
    background-color: #773c1a;
}

/* python-django */

.python-django {
    background-color: #18420b;
}
.python-django:hover {
    background-color: #20590e;
}
.python-django .name {
    color: black;
}

/* c-web-parser */

.c-web-parser {
    background-color: #273135;
}
.c-web-parser:hover {
    background-color: #27383f;
}
.c-web-parser .name {
    color: #125c9c;
}


.open-source > div{
    background-color: #04B4AE;
    margin: 10px 5px;
    padding: 10px;
    width: 200px;
}
